In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [6]:
car=pd.read_excel(r"C:\Users\Baskar\OneDrive\Desktop\Python for data science\DS1_C4_S9_Car_Data.xlsx")

In [8]:
car.columns

Index(['S. No.', 'Make', 'Model', 'Variant', 'Displacement', 'Cylinders',
       'Valves_Per_Cylinder', 'Fuel_Tank_Capacity_litre', 'Fuel_Type',
       'Height_mm', 'Length_mm', 'Width_mm', 'Body_Type', 'Doors',
       'City_Mileage_km_litre', 'Highway_Mileage_km_litre', 'Kerb_Weight',
       'Power', 'Torque', 'Seating_Capacity', 'Central_Locking',
       'Child_Safety_Locks', 'Hill_Assist', 'Drive_Modes',
       'High_Speed_Alert_System', 'ABS_(Anti-lock_Braking_System)',
       'Gross_Vehicle_Weight', 'Airbags', 'Door_Ajar_Warning',
       'Fasten_Seat_Belt_Warning'],
      dtype='object')

In [10]:
car.isnull().sum()
#counted the number of missing values.

S. No.                               0
Make                                75
Model                                0
Variant                              0
Displacement                        12
Cylinders                           66
Valves_Per_Cylinder                102
Fuel_Tank_Capacity_litre            69
Fuel_Type                            0
Height_mm                            1
Length_mm                            0
Width_mm                            12
Body_Type                            6
Doors                                4
City_Mileage_km_litre              555
Highway_Mileage_km_litre           800
Kerb_Weight                        365
Power                                0
Torque                               2
Seating_Capacity                     6
Central_Locking                    149
Child_Safety_Locks                  75
Hill_Assist                        796
Drive_Modes                       1081
High_Speed_Alert_System           1068
ABS_(Anti-lock_Braking_System)     132
Gross_Vehicle_Weight               595
Airbags                            132
Door_Ajar_Warning                  143
Fasten_Seat_Belt_Warning           190
dtype: int64

In [12]:
car.dtypes

S. No.                              int64
Make                               object
Model                              object
Variant                            object
Displacement                      float64
Cylinders                         float64
Valves_Per_Cylinder               float64
Fuel_Tank_Capacity_litre          float64
Fuel_Type                          object
Height_mm                         float64
Length_mm                         float64
Width_mm                          float64
Body_Type                          object
Doors                             float64
City_Mileage_km_litre             float64
Highway_Mileage_km_litre          float64
Kerb_Weight                        object
Power                             float64
Torque                            float64
Seating_Capacity                  float64
Central_Locking                    object
Child_Safety_Locks                 object
Hill_Assist                        object
Drive_Modes                        object
High_Speed_Alert_System            object
ABS_(Anti-lock_Braking_System)     object
Gross_Vehicle_Weight               object
Airbags                            object
Door_Ajar_Warning                  object
Fasten_Seat_Belt_Warning           object
dtype: object

In [18]:
# Data preprocessing(null values,duplicates,missing value treatment and conversion of datatypes):
car['Height_mm'].fillna(car['Displacement'].mean(),inplace=True)
car['Make'].fillna(('Not available'),inplace=True)
car['Displacement'].fillna(car['Displacement'].mean(),inplace=True)
car['Cylinders'].fillna(car['Cylinders'].median(),inplace=True)
car['Valves_Per_Cylinder'].fillna(car['Valves_Per_Cylinder'].median(),inplace=True)  
car['Fuel_Tank_Capacity_litre'].fillna(car['Fuel_Tank_Capacity_litre'].median(),inplace=True)
car['Width_mm'].fillna(car['Width_mm'].median(),inplace=True)
car['Body_Type'].fillna(car['Body_Type'].mode()[0],inplace=True)
car['Doors'].fillna(car['Doors'].median(),inplace=True)
car['City_Mileage_km_litre'].fillna(car['City_Mileage_km_litre'].median(),inplace=True)
car['Highway_Mileage_km_litre'].fillna(car['Highway_Mileage_km_litre'].median(),inplace=True)
car['Kerb_Weight'].fillna(car['Kerb_Weight'].mode()[0],inplace=True)
car['Torque'].fillna(car['Torque'].median(),inplace=True)
car['Seating_Capacity'].fillna(car['Seating_Capacity'].median(),inplace=True)
car['Central_Locking'].fillna(car['Central_Locking'].mode()[0],inplace=True)
car['Child_Safety_Locks'].fillna(car['Child_Safety_Locks'].mode()[0],inplace=True)
car['Hill_Assist'].fillna(car['Hill_Assist'].mode()[0],inplace=True)
car['Drive_Modes'].fillna(car['Drive_Modes'].mode()[0],inplace=True)
car['High_Speed_Alert_System'].fillna(car['High_Speed_Alert_System'].mode()[0],inplace=True)
car['ABS_(Anti-lock_Braking_System)'].fillna(car['ABS_(Anti-lock_Braking_System)'].mode()[0],inplace=True)
car['Gross_Vehicle_Weight'].fillna(car['Gross_Vehicle_Weight'].mode()[0],inplace=True)
car['Airbags'].fillna(car['Airbags'].mode()[0],inplace=True)
car['Door_Ajar_Warning'].fillna(car['Door_Ajar_Warning'].mode()[0],inplace=True)
car['Fasten_Seat_Belt_Warning'].fillna(car['Fasten_Seat_Belt_Warning'].mode()[0],inplace=True)

#replaced the missing values with mode ,mean,median.

In [16]:
import warnings
warnings.filterwarnings("ignore")

In [20]:
car.isnull().sum()
#After replacing there is no missing values.

S. No.                            0
Make                              0
Model                             0
Variant                           0
Displacement                      0
Cylinders                         0
Valves_Per_Cylinder               0
Fuel_Tank_Capacity_litre          0
Fuel_Type                         0
Height_mm                         0
Length_mm                         0
Width_mm                          0
Body_Type                         0
Doors                             0
City_Mileage_km_litre             0
Highway_Mileage_km_litre          0
Kerb_Weight                       0
Power                             0
Torque                            0
Seating_Capacity                  0
Central_Locking                   0
Child_Safety_Locks                0
Hill_Assist                       0
Drive_Modes                       0
High_Speed_Alert_System           0
ABS_(Anti-lock_Braking_System)    0
Gross_Vehicle_Weight              0
Airbags                           0
Door_Ajar_Warning                 0
Fasten_Seat_Belt_Warning          0
dtype: int64

In [181]:
#Safety feature assessment:
filter=car.groupby('Model')[['ABS_(Anti-lock_Braking_System)','Seating_Capacity','Hill_Assist']].count()
filter
sort=filter.sort_values(by='Seating_Capacity',ascending=False)[:10]
sort
#Interpretation:
#Under this all car model the seating capacity is above is almost 24 so it is comfortable for passengers moreover the hill assist and ABS is even almost above 24    
#so it could be more safety and secure.

               ABS_(Anti-lock_Braking_System)  Seating_Capacity  Hill_Assist
Model
Nexon                                      24                24           24
Kuv100 Nxt                                 22                22           22
Compass                                    21                21           21
Xuv500                                     21                21           21
Amaze                                      20                20           20
Creta                                      18                18           18
Seltos                                     16                16           16
Innova Crysta                              16                16           16
Wagon                                      14                14           14
Ciaz                                       14                14           14

In [197]:
#User comfort exploration:
#Task-2
fetch=car.groupby(['Model'])['Seating_Capacity'].mean()
print(fetch)
print('=================')
print(car['Seating_Capacity'].mean())
#Interpretation:
#Under this task I used groupby to find the model-wise mean(average) of seating capacity.

Model
718             2.0
911             4.0
3-Series        5.0
458 Speciale    2.0
458 Spider      2.0
               ...
Xylo            7.2
Yaris           5.0
Z4 Roadster     2.0
Zest            5.0
Zs Ev           5.0
Name: Seating_Capacity, Length: 263, dtype: float64
=================
5.268808777429467

In [195]:
#Another method to do in single way:
fetch=car.groupby(['Model']).agg({'Seating_Capacity':'mean','Child_Safety_Locks':'count','Central_Locking':'count'})
print(fetch)

              Seating_Capacity  Child_Safety_Locks  Central_Locking
Model
718                        2.0                   2                2
911                        4.0                   2                2
3-Series                   5.0                   3                3
458 Speciale               2.0                   1                1
458 Spider                 2.0                   1                1
...                        ...                 ...              ...
Xylo                       7.2                   5                5
Yaris                      5.0                  14               14
Z4 Roadster                2.0                   2                2
Zest                       5.0                  11               11
Zs Ev                      5.0                   2                2

[263 rows x 3 columns]

In [58]:
print(car['Seating_Capacity'].mean())
print(car['Child_Safety_Locks'].count())
print(car['Central_Locking'].count())
#This is a simple count and mean calculation.

5.268808777429467
1276
1276

In [66]:
counting_central=pd.crosstab(car.Model,car.Central_Locking,rownames=['Model'],colnames=['Central_Locking'])
counting_central

#Interpretation:
#Under this task I has used the crosstab function to find the model wise central locking count.

Central_Locking  Yes
Model
718                2
911                2
3-Series           3
458 Speciale       1
458 Spider         1
...              ...
Xylo               5
Yaris             14
Z4 Roadster        2
Zest              11
Zs Ev              2

[263 rows x 1 columns]

In [70]:
counting_child=pd.crosstab(car.Model,car.Child_Safety_Locks,rownames=['Model'],colnames=['Child_Safety_Locks'])
counting_child

#Interpretation:
#Under this task I has used the crosstab function to find the model wise child safety locks count.

Child_Safety_Locks  Yes
Model
718                   2
911                   2
3-Series              3
458 Speciale          1
458 Spider            1
...                 ...
Xylo                  5
Yaris                14
Z4 Roadster           2
Zest                 11
Zs Ev                 2

[263 rows x 1 columns]

In [203]:
#Alert systems analysis:
#Task-3
alert_system=car.groupby(['Model'])[['High_Speed_Alert_System','Door_Ajar_Warning','Fasten_Seat_Belt_Warning']].count()
sort=alert_system.sort_values(by='High_Speed_Alert_System',ascending=False)[:10]
sort
#Interpretation:
#Under this task I used groupby to find the model wise high speed alert,door ajar warning and fasten seat belt warning  count.
#I has identified that the top 10 car for safety and convenience.

,High_Speed_Alert_System,Door_Ajar_Warning,Fasten_Seat_Belt_Warning
Model,,,
Nexon,24,24,24
Kuv100 Nxt,22,22,22
Compass,21,21,21
Xuv500,21,21,21
Amaze,20,20,20
Creta,18,18,18
Seltos,16,16,16
Innova Crysta,16,16,16
Wagon,14,14,14
Ciaz,14,14,14

In [167]:
#Dimension analysis:
#Task-4
dimension=car.groupby('Model')[[ 'Height_mm','Length_mm','Width_mm']].mean()
dimension
#Interpretation:
#Under this task I has used groupby to find the 'Model' wise height,width,length average(mean).

              Height_mm  Length_mm  Width_mm
Model
718              1281.0     4379.0    1801.0
911              1299.5     4519.0    1852.0
3-Series         1429.0     4633.0    1811.0
458 Speciale     1203.0     4571.0    1951.0
458 Spider       1211.0     4568.0    1952.0
...                 ...        ...       ...
Xylo             1895.0     4520.0    1850.0
Yaris            1495.0     4425.0    1730.0
Z4 Roadster      1304.0     4324.0    1741.5
Zest             1570.0     3995.0    1706.0
Zs Ev            1644.0     4314.0    1809.0

[263 rows x 3 columns]

In [123]:
car.columns

Index(['S. No.', 'Make', 'Model', 'Variant', 'Displacement', 'Cylinders',
       'Valves_Per_Cylinder', 'Fuel_Tank_Capacity_litre', 'Fuel_Type',
       'Height_mm', 'Length_mm', 'Width_mm', 'Body_Type', 'Doors',
       'City_Mileage_km_litre', 'Highway_Mileage_km_litre', 'Kerb_Weight',
       'Power', 'Torque', 'Seating_Capacity', 'Central_Locking',
       'Child_Safety_Locks', 'Hill_Assist', 'Drive_Modes',
       'High_Speed_Alert_System', 'ABS_(Anti-lock_Braking_System)',
       'Gross_Vehicle_Weight', 'Airbags', 'Door_Ajar_Warning',
       'Fasten_Seat_Belt_Warning'],
      dtype='object')

In [ ]:
#Task-5
#Sprint-9 Interpretation:

#Task-1:I has displayed the horizontal bar chart based on 'Make' after sorting the top 5 body type using groupby count() function.
#Task-2:In task-2 I has used groupby to count the Drive modes along with Model of car.
#Task-3(Fuel Efficiency Analysis):Under this task I used groupby to fetch the record and sorted into decending and then taken top 10 record even I has displayed using horizontal bar chart.
# Yes,under this task there is an outlier in the Hyundai,Mahindra,Toyota,Honda,Ford and Bmw manufacturer based on city mileage.The reason for the outliers is because of some errors in the dataset.
#Task-4:In task-4 I has used horizontal bar chart to visualize the sorted details( top 20 car manufacturer based on city mileage).
#Task-5:In task-5 I has used pivot table to display the 'Make' and city mileage,highway mileage using aggregate function.
#Task-6:In task-6 I has displayed the staked column chart.Displayed the city mileage using mean,median.
#Task-7:In this task first I has added the average of city and highway mileage and then sorted it and displayed 'barh'.
#Task-8:In this task I has observed that the line chart for displacement is higher than city mileage.
#Task-9:In this task Hyundai is the second most skewed mileage distribution,Suzuki is the most(first) skewed mileage distribution,Tata is the fourth most skewed mileage distribution,bmw is the third most skewed mileage distribution.
#Task-10:In this task I identified there is no missing values in these columns
#Task-11: In this task I has changed Kerb weight and gross vehicle weight by  multipled with pounds for both the columns(Gross_Vehicle_Weight,Kerb_Weight).
#task-12: In this task I has used groupby to display the mean,median,std,cv for each manufacturer.
#Task-13:Under this task I has fetched the record of 'Make' and then displayed the city and highway mileage using groupby('Make' wise city and highway mileage).
#I has identified some negative correlation and positive correlation in this by the dark shade and light shade of the line.
#Thus there is a negative correlation.
#Task-14:First I has changed the datatype into float and then calculated all.Under this task I used groupby to calculate the 'Make' wise mean,median,std,cv.


#Sprint-10 Interpretation:
#Task-1:Under this all car model the seating capacity is above is almost 24 so it is comfortable for passengers moreover the hill assist and ABS is even almost above 24 .so it could be more safety and secure.   
#Task-2:In this task I used groupby to find the model-wise mean(average) of seating capacity.I has used the crosstab function to find the model wise central locking count and I has used the crosstab function to find the model wise child safety locks count.
#Task-3:Under this task I used groupby to find the model wise high speed alert,door ajar warning and fasten seat belt warning  count.I has identified that the top 10 car for safety and convenience.
#Task-4:Under this task I has used groupby to find the 'Model' wise height,width,length average(mean).

In [ ]:
#Sprint-9 conclusion:
In sprint-9 all tasks are focused on alalyzing various aspects of car performance and manufacturer data. In most of the tasks the vizualization part is helpful
for easy interpretation. This vizualization is used to identify the outliers in the Hyundai,Mahindra,Toyota,Honda,Ford and Bmw car.Moreover there
is a city and highway mileage visualization using horizontal bar charg and using grid lines helpful to get easy interpretation.Correlation is also
identified to find the relationship between city and highway mileage it gives negative correlation.I has converted the Kerb weight and gross weight into
pounds and calculated statistical measures like mean,median,standard deviation and coefficient of variance for each manufacturer.Overall, in my analysis
I has undestood that the city and highway mileage is the major part to find the car is secure  and convenience.

In [ ]:
#Sprint-10 conclusion:
In sprint-10 my analysis is based on identifing the safety and secure of passengers in car(models).In this I has assessed the seating capacity,safety features
like hill assist,ABS(Anti-lock_Braking_System),fasten seat belt warning and used the statistical tools to analyze central locking and child safety
lock counts to find the car model is safety or not.I identified top 10 car models for safety based on hight-speed alerts and other warning system and at the 
end there is a dimension analysis of lenght,height and width.Overall, the conclusion is that sprint-10 is based on the identification of safe,secure
and convenience of car models for passengers.

In [ ]:
#Challenges:
Data visualization:
In sprint-9 there is various types of data visualization and various usage of mean,median,statndard deviation and coefficient of variance.

#Future scope;
#Advanced outliers detection:
Withe machine learning algorithms it will automatically detect and handle the outliers in the dataset and provide accurate record.
    
#AI tools:
With the help of AI tools we can identify all the tasks easily and give a correct result.
    
#overall conclusion:
 So all the challenges and future scope will help to enhance the projects analysis and helpful for easy decision making.

In [ ]:
#Findings:
The business analysis revealed more details about car performance(data preprocessing) like outlier detection,missing value treatment and using descriptive statistical tools
like mean,median,mode,standard deviation and coefficient of variance(R) even there is an identification of skewness to find its distribution using visualization.
Safety features such as seating capacity, hill assist, and child safety locks were assessed to ensure the top 10 car models for best suit of car for the 
passengers.

In [ ]:
#Summary:
The business analysis revealed that by using the data preprocessing ,outlier detection and resolving it ,finding the missing
value treatment and using descriptive statistical tools like mean,median,mode,standard deviation and coefficient of variance(R).The finding serves the 
importance of ensuring the safety measures for passengers.The analysis also highlighted the significance of safety and comfort features,
guiding manufacturers in enhancing their offerings to meet consumer expectations.